<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <meta name="description" content="{{ shop.description | default: 'Cửa hàng quần áo toàn quốc' }}">
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" href="{{ 'style.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'style.css' | asset_url }}"></noscript>
    <link rel="stylesheet" href="{{ 'responsive.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      media="print"
      onload="this.media='all'"
    >
    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'search-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wishlist.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'recently-viewed.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-icons.js' | asset_url }}" defer="defer"></script>
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      >
    </noscript>
    {% if section.blocks.size > 0 and section.blocks[0].settings.slide_image != blank %}
      <link
        rel="preload"
        as="image"
        href="{{ section.blocks[0].settings.slide_image | image_url: width: 1200, format: 'webp' }}"
      >
    {% else %}
      <link rel="preload" as="image" href="{{ 'banner.png' | asset_url }}">
    {% endif %}
    {% render 'meta-tags' %}
    {% comment %} <script>
      if (typeof window.Shopify !== 'undefined' && window.Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script> {% endcomment %}
    {{ content_for_header }}

    <title> 
      {{ page_title }}
      |
      {{ shop.name }}
    </title>
  </head>

  <body class="template-{{ template.name }}">
    {% section 'header' %}

    <main id="main" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% render 'divider' %}
    {% section 'footer' %}

  </body>
</html>
