<section class="new-arrivals">
  <div class="fc-container">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.description }}</p>
  </div>

  <div class="new-arrivals-grid">
    {% for product in collections.all.products limit: 4 %}
      <div class="new-arrivals-item">
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image | image_url: width: 300 }}" alt="{{ product.title }}" width="300" height="300">
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "New Arrivals",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "New Arrivals"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Here’s some of our most popular products people are in love with."
    }
  ],
  "presets": [
    {
      "name": "New Arrivals"
    }
  ]
}
{% endschema %}
